* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('images/food.jpg'); 
    transition: background-size 0.3s ease;
}

input.zoom-background {
    background-size: 110%;
}
a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .tag {
        display: flex;
        align-items: center;
        gap: 26px;
    }
    
    & h1 {
        color: #fff;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;

    & h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    .upper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;

        & h1 {
            color: #000;
            font-family: Inter;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: stretch;
        }

        & p {
            color: #000;
            align-self: stretch;
            font-family: Inter;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    .upper h1{
        box-shadow: inset 4px 0px 20px 18px white;
        border-radius: 9px; 
    }

    .down {
        display: flex;
        align-items: flex-start;
        align-self: stretch;

        & input {
            height: 37px;
            padding: 10px;
            flex: 1 0 0;
            border-radius: 9px;
            border: none;
            outline: none;
        }
        ::placeholder {
            color: #974949;
        }
        & select{
            color: #974949;
            height: 37px;
            border-radius: 9px;
        }
    }
}
.nav-part2 ul{
    list-style-type: none;
    display: contents;
}

/* laptop*/
@media (min-width: 600px) {
    body{
        padding: 37px 51px;
        gap: 200px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .nav-part2{
        display: flex;
        align-items: center;
        gap: 4vw;
    }
    .ri-menu-3-line{
        display: none;
    }
    img {
        width: 93px;
        height: 93px;
        border-radius: 65px;
    }
}

/* phone */
@media (max-width:600px) { 
    body{
        padding: 14vw 7vw;
        gap: 49vh;
        background-size: contain;
        background-repeat: round;
    }
    .nav-part2{
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgb(255, 255, 255, -0.8);
        backdrop-filter: blur(7px);
        box-shadow: -1px 0 10px #000;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        line-height: 3;
    }
    .tag{
        background-color: black;
        border-radius: 7vw;
    }
    .upper h1 {
        font-size: revert;
    }
    p{
        font-size: larger;
    }
    img{
        width: 11vw;
        height: 6vh;
        border-radius: 65px;
    }
    .tag h1{
        font-weight: bolder;
        color: #974949;
        font-size: x-large;
    }
    #sidebar {
        display: none;
        position: fixed;
        top: 0;
        left: -100;
        width: 250px;
        height: 100%;
        padding: 20px;
    }
    #sidebar ul {
        list-style: none;
        padding: 0;
    }
    #sidebar li {
        margin-bottom: 10px;
    }
    .ri-menu-3-line{
        font-size: x-large;
    }
}
