* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 98vw;
    min-height: 98vh;
    flex-direction: column;
}

.Resume {
    display: flex;
    background-color: aliceblue;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img {
    border-radius: 16px;
    border: 1px solid #FDFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education {
    background: #F7F3D7;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #F7F1EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #F2F5F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.education>.title {
    text-transform: uppercase;
    align-self: stretch;
    font-family: Inter;
    color: #937131;
    font-weight: 700;
}

.education-record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.education-record>p {
    align-self: stretch;
    color: #534C40;
    font-weight: 600;
    line-height: 143.2%;
}

.contact {
    background: #F7F1EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.contact>.title {
    align-self: stretch;
    color: #272421;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact-record>p {
    color: #534940;
    font-family: Inter;
    font-weight: 600;
    line-height: 143.2%;
}

.contact span {
    color: #534940;
    font-family: Inter;
    font-weight: 500;
    line-height: 143.2%;
}

.skills {
    background: #F2F5F7;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.skills>.title {
    align-self: stretch;
    color: #012;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}

.skills-record {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-self: stretch;
}

.skills-record>.row {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.skills-record>.row>div {
    width: 100%;
}

.skills-record p {
    color: #404953;
    font-family: Inter;
    font-weight: 600;
    line-height: 143.2%;
}

.skills-record span {
    color: #404953;
    font-family: Inter;
    font-weight: 400;
    line-height: 143.2%;
}

.right>.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.name {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.post {
    align-self: stretch;
    color: #937131;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.description {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-weight: 500;
}

hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}


/* Media Query For Mobile */
@media only screen and (max-width: 425px) {
    .Resume {
        padding: 4px 8px;
        gap: 4px;
        width: 100%;
    }

    .glowing-btn{
        font-size: 1em;
    }

    .left {
        width: 84.5px;
        gap: 4px;
    }

    img {
        width: 84.5px;
        height: 96px;
    }

    .right {
        gap: 4px;
        width: 255px;
    }

    .education {
        padding: 4px;
        gap: 4px;
        width: 100%;
    }

    .contact {
        padding: 4px;
    }

    .details {
        gap: 4px;
        width: 100%;
    }

    .skills {
        gap: 8px;
        padding: 10px 4px;
    }

    .education>.title {
        font-size: 8px;
        letter-spacing: 2px;
        width: 100%;
    }

    .education-record {
        gap: 10px;
        width: 100%;
    }

    .education-record>p {
        font-size: 8px;
        width: 100%;
    }

    .contact {
        padding: 4px;
        width: 100%;
    }

    .contact>.title {
        font-size: 8px;
        width: 100%;
    }

    .contact-record {
        font-size: 8px;
        width: 100%;
    }

    .contact span {
        font-size: 5px;
    }

    .skills {
        gap: 8px;
        padding: 10px 4px;
        width: 100%;
    }

    .skills>.title {
        font-size: 8px;
        width: 100%;
    }

    .skills-record {
        gap: 12px;
        width: 100%;
    }

    .skills-record>.row {
        gap: 10px;
        align-self: stretch;
        width: 100%;
    }


    .skills-record p {
        font-size: 10px;
        width: 100%;
    }

    .skills-record span {
        font-size: 10px;
        width: 100%;
    }

    .right>.details {
        gap: 0px;
    }

    .name {
        font-size: 28px;
        width: 100%;
    }

    .post {
        font-size: 10px;
        width: 100%;
        margin-top: 15px;
    }

    .description {
        font-size: 8px;
        width: 100%;
        margin-bottom: 4px;
    }
}

/* Media Query For Desktop */
@media only screen and (min-width: 426px) {
    .Resume {
        padding: 12px 24px;
        gap: 10px;
    }

    img {
        width: 169px;
        height: 192px;
    }

    .left {
        width: 169px;
        gap: 16px;
    }

    .right {
        width: 373px;
        gap: 19px;
    }

    .education {
        padding: 10px;
        gap: 10px;
        width: 100%;
    }

    .details {
        gap: 4px;
        width: 100%;
    }

    .skills {
        padding: 16px 10px;
        gap: 20px;
    }

    .education>.title {
        font-size: 14px;
        letter-spacing: 2px;
        width: 100%;
    }

    .education-record {
        gap: 16px;
        width: 100%;
    }

    .education-record>p {
        font-size: 12px;
        width: 100%;
    }

    .contact {
        padding: 10px;
        gap: 4px;
        width: 100%;
    }

    .contact>.title {
        font-size: 14px;
        width: 100%;
    }

    .contact-record {
        font-size: 13px;
        width: 100%;
    }

    .contact span {
        font-size: 10px;
        width: 100%;
    }

    .skills {
        padding: 16px 10px;
        gap: 20px;
        width: 100%;
    }

    .skills>.title {
        font-size: 14px;
        width: 100%;
    }

    .skills-record {
        gap: 12px;
    }

    .skills-record>.row {
        gap: 16px;
    }

    .skills-record p {
        font-size: 13px;
        width: 100%;
    }

    .skills-record span {
        font-size: 10px;
        width: 100%;
    }

    .right>.details {
        gap: 4px;
        width: 100%;
    }

    .name {
        font-size: 52px;
        width: 100%;
    }

    .post {
        font-size: 14px;
        width: 100%;
        margin-top: 33px;
    }

    .description {
        font-size: 13px;
        width: 100%;
        margin-top: 12px;
    }
}

@import url("https://fonts.googleapis.com/css?family=Raleway");
:root {
    --glow-color: hsl(186 100% 69%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .glowing-btn {
    position: relative;
    cursor: pointer;
    padding: -0.65em 0em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    font-weight: 900;
    letter-spacing: 1em;
  
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
      box-shadow: inset 0px 0px 0.5em 0px hsl(194.83deg 100% 69%), 0px 0px 0.5em 0px hsl(227.56deg 100% 69%);
      animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }