* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    min-height: 98vh;
}

.Resume {
    display: flex;
    background-color: aliceblue;
    align-items: flex-start;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img {
    border-radius: 16px;
    border: 1px solid #FDFDFD;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education {
    background: #F7F3D7;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #F7F1EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #F2F5F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.education>.title {
    text-transform: uppercase;
    align-self: stretch;
    font-family: Inter;
    color: #937131;
    font-weight: 700;
}

.education-record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.education-record>p {
    align-self: stretch;
    color: #534C40;
    font-weight: 600;
    line-height: 143.2%;
}

.contact {
    background: #F7F1EB;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.contact>.title {
    align-self: stretch;
    color: #272421;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.contact-record>p {
    color: #534940;
    font-family: Inter;
    font-weight: 600;
    line-height: 143.2%;
}

.contact span {
    color: #534940;
    font-family: Inter;
    font-weight: 500;
    line-height: 143.2%;
}

.skills {
    background: #F2F5F7;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
}

.skills>.title {
    align-self: stretch;
    color: #012;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;

}

.skills-record {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-self: stretch;
}

.skills-record>.row {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.skills-record>.row>div {
    width: 100%;
}

.skills-record p {
    color: #404953;
    font-family: Inter;
    font-weight: 600;
    line-height: 143.2%;
}

.skills-record span {
    color: #404953;
    font-family: Inter;
    font-weight: 400;
    line-height: 143.2%;
}

.right>.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.name {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-weight: 600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.post {
    align-self: stretch;
    color: #937131;
    font-family: Inter;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.description {
    align-self: stretch;
    color: #000;
    font-family: Inter;
    font-weight: 500;
}

hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
}


/* Media Query For Mobile */
@media only screen and (max-width: 425px) {
    .Resume {
        padding: 4px 8px;
        gap: 4px;
        width: 100%;
    }

    .left {
        width: 84.5px;
        gap: 4px;
    }

    img {
        width: 84.5px;
        height: 96px;
    }

    .right {
        gap: 4px;
        width: 255px;
    }

    .education {
        padding: 4px;
        gap: 4px;
        width: 100%;
    }

    .contact {
        padding: 4px;
    }

    .details {
        gap: 4px;
        width: 100%;
    }

    .skills {
        gap: 8px;
        padding: 10px 4px;
    }

    .education>.title {
        font-size: 8px;
        letter-spacing: 2px;
        width: 100%;
    }

    .education-record {
        gap: 10px;
        width: 100%;
    }

    .education-record>p {
        font-size: 8px;
        width: 100%;
    }

    .contact {
        padding: 4px;
        width: 100%;
    }

    .contact>.title {
        font-size: 8px;
        width: 100%;
    }

    .contact-record {
        font-size: 8px;
        width: 100%;
    }

    .contact span {
        font-size: 5px;
    }

    .skills {
        gap: 8px;
        padding: 10px 4px;
        width: 100%;
    }

    .skills>.title {
        font-size: 8px;
        width: 100%;
    }

    .skills-record {
        gap: 12px;
        width: 100%;
    }

    .skills-record>.row {
        gap: 10px;
        align-self: stretch;
        width: 100%;
    }


    .skills-record p {
        font-size: 10px;
        width: 100%;
    }

    .skills-record span {
        font-size: 10px;
        width: 100%;
    }

    .right>.details {
        gap: 0px;
    }

    .name {
        font-size: 28px;
        width: 100%;
    }

    .post {
        font-size: 10px;
        width: 100%;
        margin-top: 15px;
    }

    .description {
        font-size: 8px;
        width: 100%;
        margin-bottom: 4px;
    }
}

/* Media Query For Desktop */
@media only screen and (min-width: 426px) {
    .Resume {
        padding: 12px 24px;
        gap: 10px;
    }

    img {
        width: 169px;
        height: 192px;
    }

    .left {
        width: 169px;
        gap: 16px;
    }

    .right {
        width: 373px;
        gap: 19px;
    }

    .education {
        padding: 10px;
        gap: 10px;
        width: 100%;
    }

    .details {
        gap: 4px;
        width: 100%;
    }

    .skills {
        padding: 16px 10px;
        gap: 20px;
    }

    .education>.title {
        font-size: 14px;
        letter-spacing: 2px;
        width: 100%;
    }

    .education-record {
        gap: 16px;
        width: 100%;
    }

    .education-record>p {
        font-size: 12px;
        width: 100%;
    }

    .contact {
        padding: 10px;
        gap: 4px;
        width: 100%;
    }

    .contact>.title {
        font-size: 14px;
        width: 100%;
    }

    .contact-record {
        font-size: 13px;
        width: 100%;
    }

    .contact span {
        font-size: 10px;
        width: 100%;
    }

    .skills {
        padding: 16px 10px;
        gap: 20px;
        width: 100%;
    }

    .skills>.title {
        font-size: 14px;
        width: 100%;
    }

    .skills-record {
        gap: 12px;
    }

    .skills-record>.row {
        gap: 16px;
    }

    .skills-record p {
        font-size: 13px;
        width: 100%;
    }

    .skills-record span {
        font-size: 10px;
        width: 100%;
    }

    .right>.details {
        gap: 4px;
        width: 100%;
    }

    .name {
        font-size: 52px;
        width: 100%;
    }

    .post {
        font-size: 14px;
        width: 100%;
        margin-top: 33px;
    }

    .description {
        font-size: 13px;
        width: 100%;
        margin-top: 12px;
    }
}